.imageElement img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.imageElement.right {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  clear: right;
  float: right;
  margin-left: 1.5rem;
}

.imageElement.right img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

@media only screen and (max-width: 34rem) {
  .imageElement.right {
    margin-left: auto;
    margin-right: auto;
    overflow: visible;
    width: 100%;
    margin-bottom: 1.5rem;
    box-sizing: border-box;
  }
}
